body{
	margin: 0;
	padding: 0;
}

.topbar{
	background-color: #5F0F84;
}

.contact-icon i{
	font-size: 20px;
	padding: 10px;
}
.contact-icon a{
	text-decoration: none;
	color: #FFFFFF;
}

.social-icon i{
	font-size: 20px;
	padding: 10px;
}
.social-icon a{
	text-decoration: none;
	color: #FFFFFF;
}
